<div id="tabs" class='tabs'>
	<a href="#" class="tablink activelink tab-wide" id="organization"><div>Organization</div></a>
	<a href="#" class="tablink alerts" id="alerts"><div>Alerts</div></a>
</div>

<div class="tabcontent paddingAll" id="organization content">
	<%= render :partial => 'organization_tab' %>
</div>

<div class="tabcontent paddingAll hide" id="alrts content">
	
</div>
